:root {
    --henry-gradient-start: #ffd260;
    --henry-gradient-end: #ff9b3a;
    --henry-shadow: #ff9060;

    --daisy-gradient-start: #d0f0c0;
    --daisy-gradient-end: #0e250f;
    --daisy-shadow: #2e7d32;

    --soft-purple-bg: #E6E6FA;
;
    --dark-purple-bg: #bfbfee;
    --notification-positive: #d0f0c0;
    --notification-negative: #ffb4b4;
}


* {
    font-family: "Comic Sans MS";
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

h2, h3 {
    color: ghostwhite;
    text-align: center;
    margin: 3px;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

#daisy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    min-width: 500px;
}

#daisy-image {
    padding: 0;
    width: 100%;
    transition: all 0.15s ease;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-filter: drop-shadow(0px 5px 5px var(--daisy-shadow));
    filter: drop-shadow(0px 5px 5px var(--daisy-shadow));
}

#daisy-image:hover {
    cursor: grab;
    -webkit-filter: drop-shadow(0px 7px 7px var(--daisy-shadow));
    filter: drop-shadow(0px 7px 7px var(--daisy-shadow));
}

#daisy-image:active {
    transition: none;
    width: 87%;
    cursor: grabbing;
}

#game-container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


#chat-container {
    border: 3px solid var(--dark-purple-bg);
    border-radius: 8px;
    height: 60%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-purple-bg);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

#chat-message-container {
    height: 85%;
    width: 100%;
    overflow-y: auto;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--soft-purple-bg);
}


#chat-input {
    margin: 10px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-top: 1px solid #ddd;
    font-size: 14px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}


.message {
    margin: 8px 0;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #d9d9fa;
    font-size: 14px;
    word-wrap: break-word;
}

/* to be honest idk if I'm going to keep this. It seems pointless */
.message:hover {
    background-color: #c9c9ee;
}


.name {
    font-weight: bold;
    color: #2e7d32;
}

.name.other {
    font-weight: bold;
    color: #d772ff;
}

.notification {
    margin: 5px 0;
    font-weight: 300;
    text-align: center;
    font-size: 12px;
    background-color: var(--dark-purple-bg);
    color: #555;
}

.notification.connect {
    background-color: var(--notification-positive);
}

.notification.disconnect {
    background-color: var(--notification-negative);
}

#leaderboard-container {
    width: 30%;
}

table {
    border: 3px solid var(--dark-purple-bg);
    border-radius: 8px;
    width: 100%;
    margin: 20px 0;
}

th, td {
    border: 3px solid var(--dark-purple-bg);
    padding: 16px;
    text-align: center;
}

th {
    background-color: var(--dark-purple-bg);
    font-weight: bold;
}

tr {
    background-color: var(--soft-purple-bg);
}

.toast.hide {
    top: -10em;
}

.toast {
    transition: opacity 0.5s ease, top 0.5s ease;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.75);
    background-color: var(--soft-purple-bg);
    border: 3px solid #bfbfee;
    border-radius: 5px;
    padding: 3px 4px;
    position: absolute;
    top: 7em;
    right: 50%;
    transform: translate(50%);
    width: 10%;
    min-width: 400px;
    opacity: 1;
}

.toast.fade {
    transition: opacity 0.5s ease, top 2s ease-out;
    top: -10em;
    opacity: 0;
}

.toast h4 {
    margin-top: 1em;
    margin-bottom: 2px;
}

.toast p {
    margin-top: 2px;
}


@media screen and (max-width: 1000px) {
    #game-container {
        position: relative;
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 50px;
    }

    #chat-container {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        max-height: 300px;
        min-height: 300px;
        height: 300px;
        width: 65%;
    }

    #daisy-container {
        margin-top: 10%;
    }
}

@media screen and (max-width: 1000px) and (max-height: 800px) {
    #chat-container {
        visibility: hidden !important;
    }
}