<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/variables.css">
    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Pet Daisy</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center;">
    <h2 style="margin: 50px">Daisy has been pet too many times today and needs a break...</h2>
    <img style="width: 10%;" id="daisy-image" src="/static/images/henry_goofy.png">
    <h3 id="counter" style="margin-top: 50px">You have pet henry 0 times this session!</h3>

    <canvas width="624" height="720" id="game"></canvas>
    <h3>Credit to straker on <a href="https://gist.github.com/straker/82a4368849cbd441b05bd6a044f2b2d3">github</a></h3>

    <script src="/static/scripts/shared.js"></script>
    <script>setGradientPosition()</script>

    <script>
        let personal = 0
        document.getElementById("daisy-image").addEventListener("click", () => {
            document.getElementById("counter").textContent = `You have pet henry ${++personal} times this session!`
        })

    </script>
<script src="../static/scripts/frogger.js"></script>
</body>
</html>