<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/variables.css">
    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Pet Daisy</title>
</head>
<body>
    <a class="circle-icon-btn" id="profile" href="/profile">P</a>
    <h2 id="counter">Daisy has been pet {{ .TotalPets }} times!</h2>
    <h3 id="personal-counter">You have pet her {{ .UserPets }} times!</h3>
    <div id="game-container">
        <div id="leaderboard-container">
            <table>
                <thead>
                <tr>
                    <th>Place</th>
                    <th>Display Name</th>
                    <th>Pet Count</th>
                </tr>
                </thead>
                <tbody id="leaderboard"></tbody>
            </table>
        </div>
        <div id="daisy-container">
            <img src="../static/images/DAISY.png" alt="daisy the dog" id="daisy-image"/>
        </div>
        <div id="chat-container">
            <div id="chat-message-container">
            </div>
            <input type="text" name="chat" id="chat-input">
        </div>
    </div>
    <script>
        let personalNumber = {{ .UserPets }};
        let displayName = {{ .User }};
    </script>
    <script src="../static/scripts/shared.js"></script>
    <script src="../static/scripts/chat.js"></script>
    <script src="../static/scripts/leaderboard.js"></script>
    <script src="../static/scripts/toast.js"></script>
    <script src="../static/scripts/script.js"></script>
</body>
</html>